<launch>
  <arg name="env" default="tsc"/> 

  <!-- Scitos robot -->
  <include file="$(find strands_morse)/launch/scitos.launch"/>
  <include file="$(find strands_morse)/launch/generate_camera_topics.launch" />

  <node pkg="strands_morse" type="simulator.sh" respawn="false" name="strands_morse" output="screen" args="tsc $(arg env).py"/>
  <node pkg="strands_morse" type="human_pose_simulator.py" respawn="true" name="human_pose_simulator" output="screen"/>
</launch>
